body {
	background-color: slateblue;
	color: white;
	text-align: center;
	padding-top: 10%;
	font-family: Trebuchet MS;
}

img {
	width: 200px;
	border-radius: 75px 0 75px 0;
}

.boite {
	background-color: white;
	border: solid 3px red;
	margin: 10px 40% 0 40%;
	color: slateblue;
	font-style: italic;
}
